<template>
    <section>
        <h1>Home</h1>
        <router-link :to="{name:'equipo', params:{id}}">Equipo juan</router-link>
        <router-link to="/test">Redireccion</router-link>
        <router-link to="/otraprueba">Alias</router-link>
    </section>
</template>
<script>
    export default {
        data(){
            return{
                id:'juan'
            }
        }   
    }
</script>
