*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top:2%;
}
.consola{
    background-color:black;
    color:rgb(35, 241, 63);
    padding: 1%;
    max-height: 50vh;
    overflow-y: scroll;
}