<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="flex-fill">componentes/custom-events en vue</h1> <button class="btn btn-primary col-2" @click="toggleConsole">Show
                console</button>
        </div>
        <hr>
        <prompt-user v-show="togglePrompt" @ocultar="togglePrompt = false"></prompt-user>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>

    <template id="prompt-template">
        <div class="alert alert-info">
            <header class="row justify-content-between">
                <h5 class="text-capitalize">Escriba su nombre</h5>
                <span class="close" @click="close">X</span>
            </header>
            <section class="form-row justify-content-around">
                <input type="text" class="form-control col-10" placeholder="type your name" v-model="name">
                <button class="btn btn-primary">Enviar</button>
            </section>
        </div>
    </template>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>