<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="flex-fill">componentes/custom-input en vue</h1> <button class="btn btn-primary col-2" @click="toggleConsole">Show
                console</button>
        </div>
        <hr>
        <div class="row">
            <p>Con los custom-input podremos  <strong class="font-italic">"crear"</strong> nuestros propios campos de formularios con los filtros o comprobaciones que nos sean necesarios sin tener que agregar esa lógica en la instancia principal, además nos permitirá reutizarlo ya que lo haremos a través de un componente</p>
        </div>
        <password-input v-model="clave" :clave="clave"></password-input>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>
    <template id="password-input-template">
        <label for="password">
            <span>Password</span>
            <input type="password" name="password" id="password" placeholder="type your password" class="form-control" :value="clave" @input="checkPassword($event.target.value)" :class="{'is-invalid':error != null}" ref="pass">
            <small class="text-danger" v-show="error"> {{ error }}</small>
        </label>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>