<template>
    <section>
        <h1>Soy el Home</h1>
        <router-link :to="{name:'equipo',params:{id}}">equipo Juan</router-link>
        <router-view/>    
    </section>
</template>

<script>
export default {
    data(){
        return{
            id:'juan'
        }
    }
}
</script>

