<template>
    <div class="card">
        <img :src="user.picture.medium" :alt="`${fullName} profile picture`" class="card-img-top mt-2">
        <div class="card-body">
            <h5 class="card-title">{{fullName}}</h5>
            <div class="card-text mb-3">
                <p class="font-weight-bold">Contacto</p>
                <span>{{user.email}}</span>
            </div>
            <router-link to="" class="btn btn-primary">Ver más</router-link>
        </div>
    </div>    
</template>

<script>
export default {
    props:{
        user:{
            type:Object,
            required:true
        }
    },
    computed:{
        fullName(){
            return `${this.user.name.first} ${this.user.name.last}`;
        }
    }
}
</script>