<template>
    <section class="row justify-content-around">
        <user v-for="(user,i) in allUsers" :key="i"  :user="user" class="col-2 m-2"/>
    </section>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import user from './user.vue';
    
    export default {
        computed:mapState(['allUsers']),
        methods:mapActions(['getUsers']),
        components:{user}
    }
</script>

