<template>
    <section>
    <h5>{{ number }}</h5>
    <button class="btn btn-primary" @click="modify('aumentar')">+</button>
    <button class="btn btn-primary" @click="modify('reducir')">-</button>
    </section>

</template>
<script>
    export default {
        props:['number'],
        methods:{
            modify(action){
                this.$emit(action);
            }
        }       
    }
</script>

