<template>
    <section>
        <h5>{{ number }}</h5>
        <button class="btn btn-primary" @click="aumentar">+</button>
        <button class="btn btn-primary" @click="reducir">-</button>
    </section>

</template>
<script>
    export default {
        methods:{
            aumentar(){
                this.$store.state.cantidad++;
            },
            reducir(){
                this.$store.state.cantidad--;
            }
        },
        computed:{
            number(){
                return this.$store.state.cantidad
            }
        }       
    }
</script>