<template>
  <div id="app">
      <h1>Modo historia de vue-router</h1>
      <hr>
      <div class="note">
        <h4>Modo historia</h4>
        <p>El modo historia de vue router nos deja una ruta clásica, sin el característico /#/ que no deja vue router</p>
        <div>
          <h5>Atencion</h5>
          <p>Esto hará que si se accede directamente a un recurso concreto éste arrojará un error 404 si no tenemos una configuracion de nuestro servidor web adecuada a una SPA </p>
        </div>
      </div>
      <router-link to="/">Home</router-link>
      <router-link to="/contacto">Contacto</router-link>
      <router-link to="/asdas">Error 404</router-link>
      <router-view/>
  </div>
</template>