<template>
    <section>
        <h4>Todos los posts del usuario {{name}}</h4>
        <span>El numero de la loteria de navidad es: {{numero}}</span>
    </section>
</template>
<script>
export default {
    data(){
        return{
            name:this.$route.params.name,
            numero:0
        }
    },
    watch:{
        '$route'(to){
            this.name = to.params.name
        }
    },
    beforeRouteEnter(to,from,next){
        console.log('antes de entrar');
        
        setTimeout(()=>{
            next(vm=>{
                vm.numero = Math.floor(Math.random()*10000);
            });
        },1000);
    },
    beforeRouteUpdate(to,from,next){
        setTimeout(()=>{
            this.numero = Math.floor(Math.random()*10000);
            next();
        },1000);
    }
}
</script>
