<template>
    <h2>hola, soy {{name}} y mi nombre de usuario es {{username}}</h2>
</template>

<script>
    export default {
        data(){
            return{
                name: this.$route.params.name,
                username:'buscando..'
            }
        },
        created(){
            this.getUsername();
        },
        methods:{
            getUsername(){
                setTimeout(()=>{
                    this.username = `${this.name}${Math.floor(Math.random()*1000)}`;
                },1000);
            }
        },
        watch:{
            '$route'(to){
                this.name = to.params.name;
                this.getUsername();
            },
        }   
    }
</script>

