<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/animate.css@3.5.1/animate.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/transitions.css">
</head>
<body>
    <div class="container" id="app">
        <h1>Transiciones en vue</h1>
        <hr>
        <button class="btn btn-primary" @click="togglediv">Ocultar/mostrar</button>
        <transition name="animate.css"
            enter-active-class="animated bounceInLeft"
            leave-active-class="animated bounceOutRight">
            <div class="togglediv" v-if="toggle">
                <h4>Efecto toggle</h4>
            </div>
        </transition>
        <pre class="consola">{{$data}}</pre>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/transitions.js"></script>
</body>
</html>