<template>
    <div class="row">
        <h5 class="col-6">Lista principal</h5>
        <span class="col-6">{{tareasCompletadas}} tareas completadas</span>
        <ul>
            <li v-for="(tarea,i) in tareas" :key="i" :class="{'tachado':tarea.completed}">{{tarea.title}}</li>
        </ul>
    </div>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';
    export default {
        computed:{
            ...mapGetters(['tareasCompletadas']),
            ...mapState(['tareas'])
        } 
    }
</script>
<style scoped>
    .tachado{
        text-decoration: line-through;
    }
    li{
        list-style: none;
    }
</style>
