<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/propiedades.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="flex-fill">componentes/propiedades en vue</h1> 
            <button class="btn btn-primary col-2" @click="toggleConsole">Show console</button>
        </div>
        <hr>
        <props-validadas  class="table"
            nombre="suso"
            :edad="1"
            dni="78648083C"
            :objeto="objeto"
            ></props-validadas>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>

    <template id="props-validadas-template">
        <div>
            <h5>Paso de propiedades validadas (componente)</h5>
            <div class="row font-weight-bold bg-dark text-light p-2">
                <span class="col-4">Nombre de la propiedad </span>
                <span class="col-4">Tipo de dato</span>
                <span class="col-4">Valor</span>
            </div>
            <div class="row">
                <span class="col-4">nombre </span>
                <span class="col-4">({{typeof nombre}})</span>
                <span class="col-4"> {{nombre}}</span>
            </div>
            <div class="row">
                <span class="col-4">edad </span>
                <span class="col-4">({{typeof edad}}) positivo</span>
                <span class="col-4"> {{edad}}</span>
            </div>
            <div class="row">
                <span class="col-4">dni </span>
                <span class="col-4">({{typeof dni}})</span>
                <span class="col-4"> {{dni}}</span>
            </div>
            <div class="row">
                <span class="col-4">vueisfun </span>
                <span class="col-4">({{typeof vueisfun}}) requerido</span>
                <span class="col-4"> {{vueisfun}}</span>
            </div>
            <div class="row">
                <span class="col-4">objeto </span>
                <span class="col-4">({{typeof objeto}}) valor > 0</span>
                <span class="col-4"> {{objeto}}</span>
            </div>
        </div>
    </template>

   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/propiedades.js"></script>
</body>

</html>