<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <h1>Ejemplos con vue cdn</h1>
        <hr>
    </header>
    <div class="container" id="app">
        <ul>
            <li v-for="path of paths"><a :href="path.url">{{path.text}}</a></li>
        </ul>
    </div>

    <template id="path-list-template">
        <ul>
            <li v-for="path of paths">
                <path-list v-if="isArray(path)"></path-list>
                <a :href="path.url" v-else>{{ path.text }}</a>
            </li>
        </ul>
    </template>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>