<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>

    <div id="app">
        <div class="container">
            <h1>Formulario basico</h1>
            <hr>

            <form class="form col-6" @submit.prevent="enviar">
                <label for="nombre">
                    <span class="text-capitalize">nombre</span>
                    <input type="text" class="form-control" name="nombre" id="nombre" v-model="form.nombre">
                </label>

                <label for="edad">
                    <span class="text-capitalize">edad</span>
                    <input type="number" name="edad" id="edad" class="form-control" v-model="form.edad">
                </label>

                <label for="comentario">
                    <span class="text-capitalize">comentario</span>
                    <textarea name="comentario" id="comentario" cols="30" rows="5" class="form-control" v-model="form.comentario"></textarea>
                </label>

                <label for="contacto">
                    <span class="text-capitalize">¿donde nos conocio?</span>
                    <select name="contacto" id="contacto" class="form-control" v-model="form.contacto">
                        <option v-for="(option,i) in formasContacto" :value="i">{{option}}</option>
                    </select>
                </label>

                <section>
                    <label for="si">
                        <span>si</span>
                        <input type="radio" name="cliente" id="si" v-model="form.cliente" :value="true">
                    </label>
                    <label for="no">
                        <span>no</span>
                        <input type="radio" name="cliente" id="no" v-model="form.cliente" :value="false">
                    </label>
                </section>

                <label for="terminos">
                    <input type="checkbox" name="terminos" id="terminos" v-model="form.terminos">
                    <span>Acepta los terminos y condiciones</span>
                </label>

                <button type="submit" class="btn btn-primary" v-if="form.terminos">Enviar</button>
            </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>