<template>
  <div id="app">
      <h1>Redirecciones y alias de rutas</h1>
      <hr>
      <section class="note">
        <h4>Diferencia entre Redireccion y Alias</h4>
        <p>Las redirecciones evaluan una ruta concreta y automáticamente la convierten en la que se les haya especificado</p>
        <p>Los alias respetan la ruta origen pero muestran el componente que se les haya especificado.</p>
        <p>El truco es fijarse en la url</p>
      </section>
      <router-view/>
  </div>
</template>

<style scoped>
  .note{
    background-color: rgb(240, 196, 85);
    padding:1%;
  }
  .note > h4{
    border-bottom: solid 1px;
    padding-bottom: 1%;
  }

  .note p{
    margin-left:1%;
  }
</style>
