<template>
  <div id="app" class="container">
    <h1>Tecnologías que aprender</h1>
    <hr>
    <div class="form-row">
      <input type="text" name="add" id="add" class="form-control" placeholder="Escribe una tecnología" @keyup.enter="add" v-model="toAdd">
    </div>
    <div class="row justify-content-center mt-5">
      <ul>
        <li v-for="(t,i) in tecnologias" :key="i">{{ t }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import {mixin} from './mixin';
export default {
  created(){
    console.log('desde componente');
    
  },
  mixins: [mixin],
  methods:{
    add(){
      alert('Ya está el cupo lleno');
      
    }
  }
}
</script>