<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/todolist.css">
</head>
<body>

    <div id="app" class="container">
        <h1>To do list</h1>
        <hr>
        <form @submit.prevent="createTask" class="form-group row justify-content-end">
            <input type="text" v-model="new_task" name="new_task" id="new_task" class="form-control col-2 m-2">
            <button @click.prevent="createTask(true)" class="btn btn-primary m-2">Nueva tarea pendiente</button>
            <button @click.prevent="createTask(false)" class="btn btn-secondary m-2">Nueva tarea completa</button>
        </form>
        <h4>Todas las tareas</h4>
        <p class="text-secondary"><strong>Tareas completas:</strong> {{ completedTasks }} de {{tasks.length}} ({{percentajeCompleted}}%) </p>
        <p v-for="(task,i) in tasks" @click="completeTask(i)" class="">
            <input type="checkbox" name="pending" id="pending" :checked="!task.pending" >
            <span :class="{'text-danger':task.pending, 'tachado':!task.pending}">{{ task.title }}</span>
        </p>
        <hr>
        <template v-if="checkPendingTask.length">
            <h4>Tareas pendientes</h4>
            <p v-for="task in checkPendingTask">
                {{ task.title }}
            </p>
        </template>


    </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/todolist.js"></script>
</body>
</html>