<template>
    <section>
        <h2>Datos de contacto</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus placeat harum ex commodi eos inventore eligendi, ullam vero accusamus error voluptatem nihil voluptates quis in dolorem unde iure soluta sunt.</p>
    </section>
</template>