<template>
    <h3>Soy el usuario {{ name }}</h3>
</template>

<script>
import {store} from '../store/store.js';
export default {
    data(){
        return{
            name: this.$route.params.name
        }
    },
    watch:{
        '$route'(to){
            this.name = to.params.name
        }
    },
    /**
     * Para poder acceder a la instancia vue se debe añadir un callback en next
     */
    beforeRouteEnter(to,from,next){
        console.log('antes de entrar al componente');
        next(store.state.auth);
    },
    /**
     * En estos dos metodos se accede a la instancia vue desde this
     */
    beforeRouteUpdate(to,from,next){
        console.log('antes de recargar el componente');
        next(store.state.auth);
    },
    beforeRouteLeave(to,from,next){
        console.log('antes de abandonar el componente');
        next(store.state.auth);
    }
}
</script>
