<template>
  <div id="app">
    <h1>Scroll en vue router</h1>
    <hr>
    <router-link to="/">Home</router-link>
    <router-link to="/bio">Bio</router-link>
    <router-link :to="{path:'/bio',hash:'destacado'}">Bio (ultimo parrafo)</router-link>
    <router-view></router-view>
  </div>
</template>