<template>
    <section>
        <h3>Biografía</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quidem corrupti eligendi consequatur dolore nam, obcaecati eum libero nulla molestias necessitatibus magnam saepe, odit tempore modi quam est, provident voluptatum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam dolor repellendus dicta possimus, libero alias ipsa voluptatibus repellat, porro hic itaque optio aspernatur officiis sequi dolore, nostrum ea? Facere.</p>
    </section>
</template>
