<template>
  <elemento tipo="h3">Hello world</elemento>
</template>

<script>
  import elemento from './components/Elemento.vue';
  export default {
    name: 'app',
    components:{elemento},
    data () {
      return {
      }
    }
  }
</script>

<style>

</style>
