<template>
    <div class="row">
        <h1 class="col-12">Contacto</h1>
        <form class="form">
            <label for="nombre">
                <span>Nombre</span>
                <input type="text" class="form-control" v-model="name">
            </label>
            <label for="Edad">
                <span>Edad</span>
                <input type="number" class="form-control" v-model="age">
            </label>
            <button class="btn btn-primary" @click.prevent="sendData">Enviar datos</button>
        </form>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                name:null,
                age:0
            }
        },
        methods:{
            sendData(){
                //this.$router.push({path:'/user',params:{name:this.name,age:this.age}});
                this.$router.push({path:'user',params:{data:{name:this.name,age:this.age}}});
            }
        }        
    }
</script>

