<template>
    <div class="row">
        <h5 class="col-12">Espacio de usuario</h5>
        <p>Tu nombre es {{data.name}} y tienes {{data.age}} años</p>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                data:this.$route.params.data
            }
        },
        watch:{
            '$route'(to){
                this.data  = to.params.data;
            }
        }
    }
</script>

