<template>
  <div class="container-fluid">
    <h1>Rutas en vue con el workflow completo</h1>
    <hr>
    <p>En este ejemplo veremos como se hacen las rutas en vue, como destacar el enlace cuando está en uso, cambiar de ruta de forma programática</p>
    <ul class="nav nav-pills">
      <router-link to="/" class="nav-link" exact   active-class="active" >Home</router-link>
      <router-link to="/contacto" class="nav-link" active-class="active" >Contacto</router-link>
    </ul>
    <router-view></router-view>
  </div>
</template>

<script>
  import home from './components/home';
  import contacto from './components/contacto';

  export default {
    name: 'app',
    components:{home,contacto},
    data () {
      return {
      }
    }
  }
</script>
