<template>
    <section>
        <h3>Soy la biografía</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit magni nam odit illo commodi, ullam laudantium itaque deleniti, omnis ducimus odio inventore tenetur animi numquam quaerat molestias earum consequatur.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta nemo ratione quidem voluptatibus, dicta reprehenderit ad veniam harum saepe in ullam fugiat vero, repellendus voluptatem nisi maiores repudiandae unde itaque!</p>
    </section>
</template>
