<template>
  <div id="app">
    <img src="./assets/logo.png">
    <img :src="img">
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      img: require('./assets/logo.png'),
    }
  }
}
</script>