<template>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <router-link to="/users" class="nav-link" active-class="active">Usuarios</router-link>
        </li>
        <li class="nav-item">
            <router-link to="/contacto" class="nav-link" active-class="active">contacto</router-link>
        </li>
    </ul>
</template>
