<template>
    <div class="row justify-content-center text-danger">
        <h3 class="col-12 text-center">Lo sentimos, no hemos encontrado lo que estabas buscando</h3>
        <span class="col-12 text-center">Error 404</span>
        <router-link class="btn btn-outline-primary m-3" to="/">Volver a inicio</router-link>
    </div>
</template>
