<template>
  <div id="app">
    <h1>Proteger rutas concretas</h1>
    <hr>
    <button :class="{'bloked':!auth}" @click="cambiar">Cambiar autenticacion</button>
    <router-link to="/">Home</router-link>
    <router-link to="/contacto">Contacto</router-link>
    <router-view/>
  </div>
</template>

<script>
import {mapMutations,mapState} from 'vuex';
export default {
  computed:mapState(['auth']),
  methods:mapMutations(['cambiar'])
}
</script>

<style>
  .bloked{
    background-color: red;
  }
</style>
