<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="../css/default.css">
</head>
<body class="container">
    <div class="row" id="app">
        <div class="col-6">
            <h1>Formulario de experiencia en vue</h1>
            <hr>
            <form class="col-6">
                <div class="form-group">
                    <h5>¿Tienes experiencia con vue?</h5>
                    <label for="si">
                        <span>si</span>
                        <input type="radio" name="exp" id="si" v-model="form.exp" :value="true">
                    </label>
                    <label for="no">
                        <span>no</span>
                        <input type="radio" name="exp" id="no" v-model="form.exp" :value="false">
                    </label>
                </div>
                <template v-if="form.exp">
                    <div class="form-group">
                        <label for="years">
                            <span>¿Cuantos años tienes de experiencia?</span>
                            <input type="number" v-model="form.years" name="years" id="years">
                        </label>
                    </div>
                    <div class="form-group" v-if="form.years < 2 ">
                        <label for="origen">
                            <span>¿Cuando y porque comenzaste a querer aprender vue?</span>
                            <textarea  key="origen" id="origen" cols="30" rows="10" class="form-control" v-model="form.origen"></textarea>
                        </label>
                    </div>
                    <div class="form-group" v-else>
                        <label for="anecdotas" class="col-form-label ">
                            Cuentanos tu experiencia como desarrollador vue
                        </label>
                        <textarea  key="anecdotas" id="anecdotas" cols="30" rows="10" class="form-control" :class="{'is-invalid':descriptionError}" v-model="form.anecdotas"></textarea>
                        <p  v-if="descriptionError != null" class="help-block" :class="{'text-danger':descriptionError}"> {{ descriptionError }}</p>
                    </div>
                </template>
            </form>
        </div>
        <div class="consola col-6">
            {{ $data }}
        </div>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/formulario.js"></script>
</body>
</html>