<template>
    <section>
        <h3>biografia del usuario</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos porro voluptates dolorum obcaecati, nisi perspiciatis impedit non tempore earum excepturi optio quasi molestias enim ut, recusandae alias est cumque ipsa!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae veniam reprehenderit ut sed iusto eligendi ullam. Laudantium distinctio reiciendis, ut numquam quasi ratione minus tempore, non quis, beatae eius voluptatum.</p>
    </section>
</template>
