<template>
    <section>
        <h3>Soy el usuario {{$route.params.id}}</h3>
        <span>Esta es mi pagina principal</span>
            <div>
                <router-link :to="`/equipo/${$route.params.id}/bio`">Ver la biografía del usuario</router-link>
                <router-link :to="`/equipo/${$route.params.id}/fotos`">Ver las fotografías del usuario</router-link>
            </div>
            <hr>
        <router-view/>
    </section>
</template>