<template>
  <div id="app" class="container">
    <h1>Transiciones en vue-router</h1>
    <hr>
    <router-link to="/">Home</router-link>
    <router-link to="/contacto">Contacto</router-link>
    <transition name="animate.css" appear
            enter-active-class="animated bounceInLeft"
            leave-active-class="animated bounceOutRight">
      <router-view/>
    </transition>
  </div>
</template>