<template>
  <div id="app">
      <h1>Rutas anidadas con vue-router</h1>
      <ul class="nav nav-pills">
        <li class="nav item">
          <router-link class="nav-link" active-class="active" to="/" exact>Home</router-link>
        </li>
        <li class="nav item">
          <router-link class="nav-link" active-class="active" to="/equipo">Equipo</router-link>
        </li>
      </ul>
      <hr>
      <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
    }
  }
}
</script>