<template>
  <div class="container">
    <h1 class="mt-2">Mi tienda online</h1>
    <hr>
    <agregar-producto/>
    <productos/>
    <carrito/>
  </div>
</template>

<script>
  import {store} from './store/store.js';
  import productos  from './components/Productos.vue';
  import carrito  from './components/Carro.vue';
  import agregarProducto from './components/addProduct.vue';
  export default {
    name: 'app',
    components:{productos,carrito,agregarProducto},
    store,
    data () {
      return {
      }
    }
  }
</script>