<template>
    <section>

        <h2>Biografia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
        <p id="destacado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in, voluptates hic quia eum saepe quidem. Autem aperiam at magnam sed, facilis velit, fugiat omnis harum, doloribus voluptatum natus obcaecati!
        Earum vitae perferendis facere possimus quaerat. Aliquam iure impedit vitae. Et voluptatem earum suscipit quo tenetur quam unde eveniet neque distinctio exercitationem sequi odit, ipsum nobis ducimus voluptas? Ullam, debitis.
        Ab illo tenetur cumque sint, modi repudiandae ipsum iusto ex, ipsam consequuntur, error repellendus adipisci praesentium neque vero. Tenetur vel ducimus, culpa hic ullam excepturi aspernatur odio obcaecati consequuntur ex.
        Est cumque consequuntur laborum. Quam provident recusandae veniam nostrum molestias nobis blanditiis voluptatem assumenda. Beatae sint, fuga at ea hic atque possimus, saepe similique, unde molestias eligendi deserunt dicta doloribus?
        Aspernatur itaque, recusandae quasi iure consequuntur natus, molestias deleniti asperiores magnam quia vero quod perferendis obcaecati ea soluta? Facere itaque aspernatur impedit ad libero sapiente cumque quos placeat asperiores provident.</p>
    </section>
</template>

<style>
    section{
        width: 10000px
    }
    p{
        width: 400px;
    }
    #destacado{
        color:red
    }
</style>
