<template>
    <div class="row">
        <h5 class="col-12">{{cantidad}}</h5>
        <button class="btn btn-primary m-2" @click="aumentarAsync(12)">+</button>
        <button class="btn btn-primary m-2" @click="disminuirAsync({valor:15})">-</button>
    </div>
</template>

<script>
    import {mapState,mapActions} from 'vuex';
    export default {
        computed:mapState(['cantidad']),
        methods:mapActions(['aumentarAsync','disminuirAsync'])
    }
</script>

