<template>
    <div>
        <template v-if="persona">
            <h1>{{ datosPersona.nombre }}</h1>
            <h2>{{ datosPersona.email }}</h2>
            <img :src="datosPersona.foto" alt="">
        </template>
        <span v-else>Cargando ...</span>
    </div>    
</template>

<script>
    import axios from 'axios';
    export default {
        mounted(){
            axios.get('https://randomuser.me/api/').then(response=>{
                this.persona = response.data.results[0];
            });
        },
        computed:{
            datosPersona(){
                return {
                    nombre:`${this.persona.name.first} ${this.persona.name.last}`,
                    foto: this.persona.picture.large,
                    email: this.persona.email
                }
            }
        },
        data(){
            return{
                persona:null
            }
        }
    }
</script>

<style lang="sass">

</style>


