<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="flex-fill">componentes/scoped-slots en vue</h1> <button class="btn btn-primary col-2" @click="toggleConsole">Show
                console</button>
        </div>
        <hr>
        <div class="row">
            <h4 class="col-12">Lista de tareas</h4>
            <todo-list :listado="list">
                <template scope="datos">
                    <li><h5 class="font-italic">{{ datos.t }}</h5></li>
                </template>
            </todo-list>
        </div>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>

    <template id="todoList-template">
        <ul>
            <slot v-for="tarea in listado" :t="tarea.titulo"></slot>
        </ul>
    </template>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>