<template>
  <div class="container-fluid">
    <navbar></navbar>
    <router-view/>
  </div>
</template>

<script>
import { store } from "./store/store.js";
import navbar from "./components/navbar";
import { mapAction } from "vuex";

export default {
  name: "app",
  store,
  components: { navbar },
  data() {
    return {};
  },
  mounted() {
    this.getUsers(50);
  }
};
</script>