<template>
    <section>
        <h2>Esta es la manera en la que me puedes contactarr</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur repudiandae, odit sit quisquam ipsum debitis aspernatur eos vel accusantium? Enim consequatur atque illo expedita earum eveniet. Recusandae iste debitis hic.</p>
    </section>
</template>
