<template>
  <div id="app">
    <h1>Data fetch en vue-router</h1>
    <hr>
    <router-link to="/" >Home</router-link>
    <router-link to="/usuario/juan" >usuario juan</router-link>
    <router-link to="/posts/juan" >posts juan</router-link>
    <router-link to="/usuario/pepe" >usuario pepe</router-link>
    <router-link to="/posts/pepe" >posts pepe</router-link>
    <router-view></router-view>
  </div>
</template>