<template>
    <section>
        <h3>Informacion confidencial</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti quia voluptatibus laudantium ipsum voluptatum repellat culpa totam iusto sit porro eius mollitia delectus atque veniam tempore impedit, vitae omnis deserunt!</p>
    </section>
</template>
