<template>
  <div id="app">
    <h1>Rutas con vue router</h1>
    <ul class="nav nav-pills">
      <li class="nav-item">
          <router-link to="/usuario/77" active-class="active" class="nav-link">Usuario 77</router-link>
      </li>
      <li class="nav-item">
          <router-link to="/usuario/99" active-class="active" class="nav-link">Usuario 99</router-link>
      </li>
      <li class="nav-item">
          <router-link to="/usuario/17" active-class="active" class="nav-link">Usuario 17</router-link>
      </li>
    </ul>
    <hr>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
    }
  }
}
</script>