<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <style>
        .consola{
            background: black;
            color:rgb(6, 255, 6)
        }
        .consola pre{
            color:rgb(6, 255, 6)
        }
    </style>
</head>

<body>

    <div id="app">
        <div class="container-fluid row">
            <section class="col-6">
                <h5>checkbox</h5>
                <input type="checkbox" v-model="check" :true-value="ok" :false-value="fail">
                <hr>
                <h5>radio</h5>
                <input type="radio" v-model="radio" :value="estructura">
                <hr>
                <h5>select</h5>
                <select name="" id="" v-model="select">
                    <option :value="suso">Suso</option>
                </select>
            </section>
            <div class="col-6 consola">
                <pre>{{ $data }}</pre>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>