<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="flex-fill">componentes/comunication-bus en vue</h1> <button class="btn btn-primary col-2" @click="toggleConsole">Show
                console</button>
        </div>
        <hr>
        <div class="row">
            <p>Los buses de comunicación son instancias VUE las cuales son usadas solamente para emitir y capturar custom-events, de esta forma se evita pasar por la instancia principal al comunicarse entre componentes en el mismo nivel (o hermanos)</p>
        </div>
        <div class="row">
            <listado-productos :productos="productos" class="col-8"></listado-productos>
            <precio-total class="col-4"></precio-total>
        </div>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>

    <template id="listado-productos-template">
        <div>
            <producto v-for="(producto,i) in productos" :product="producto" :key="i"></producto>
        </div>
    </template>
    <template id="precio-total-template">
        <div>
            <p>{{ precio }}€</p>
            <p> {{ produtosTotal }} productos en el carrito</p>
        </div>
    </template>
    <template id="producto-template">
        <div class="row p-2">
            <span class="col-4">{{ name }}</span>
            <span class="col-4">{{ price}}€</span>
            <div class="row col-4 justify-content-between">
                <button class="btn btn-outline-primary btn-sm" @click="removeProduct">-</button>
                <span class="col-3">{{ cantidad }}</span>
                <button class="btn btn-outline-primary btn-sm" @click="addProduct">+</button>
            </div>
            
        </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>