<template>
  <div>
    <h1>Contadores</h1>
    <hr>
    <p>
      En este ejemplo se realizan dos contadores, uno hecho a mano (mediante el paso de propiedaes y la emision de eventos) y otro con el repositorio central de estados vuex
    </p>
    <div class="row">
      <section class="col-6 pl-5">
        <h4>Contador manual</h4>
      <contadorManual :number="n" @aumentar="aumentar" @reducir="reducir"/>
      </section>
      <section class="col-6 pl-5">
        <h4>Contador con vuex</h4>
        <contador-vuex/>
      </section>
    </div>
  </div>
</template>

<script>
import contadorManual from "./components/contadorManual";
import contadorVuex from "./components/contador";
export default {
  name: "app",
  components: { contadorManual, contadorVuex },
  data() {
    return {
      n: 0
    };
  },
  methods: {
    aumentar() {
      this.n++;
    },
    reducir() {
      this.n--;
    }
  }
};
</script>