<template>
  <div id="app">
      <h1>Guardado global de rutas en vue-router</h1>
      <hr>
      <div class="note">
        <h4>Sistema de restriccion de rutas</h4>
        <p>En este ejemplo veremos como bloquer rutas de manera global</p>
      </div>
      <router-link to="/"  active-class="active" exact>Home</router-link>
      <router-link to="/contacto" active-class="active">Contacto</router-link>
      <button @click="cambiar" :class="{'blocked':!auth}">Cambiar permiso</button>
      <router-view/>
  </div>
</template>
<script>
import {mapMutations,mapState} from 'vuex';
export default {
  computed:mapState(['auth']),
  methods:mapMutations(['cambiar'])
}
</script>

<style>
  .active{
    color:red;
  }
  .blocked{
    background: red;
  }
</style>
