<template>
  <div class="container">
    <h1 class="mt-2">Acciones en vue.js</h1>
    <hr>
    <p>Las acciones es un paso intermedio entre una peticio asíncrona y las mutaciones (las cuales deben ser obligaroriamente sincronas), si te fijas el número se modificará a los <strong>2 segundos</strong> desde que se pulse un botón</p>
    <counter/>
  </div>
</template>

<script>
import counter from './components/counter';
import {store} from './store/store.js';
export default {
  name: 'app',
  components:{counter},
  store,
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
