<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        .consola{
            background: black;
            color:rgb(6, 255, 6)
        }
        .consola pre{
            color:rgb(6, 255, 6)
        }
    </style>
</head>

<body>

    <div id="app" class="container-fluid row">
        <section>
            <form class="form">
                <span>Tipo lazy</span>
                <input type="text" v-model.lazy="formulario" class="form-control">
                <span>Tipo number</span>
                <input type="number" class="form-control" v-model.number="edad">
                <p>{{tipoEdad}}</p>
                <span>Tipo trim</span>
                <input type="text" class="form-control" v-model.trim="trim">
                <button class="btn btn-primary">Enviar</button>
            </form>
        </section>
        <div class="consola">
            <pre>{{ $data }}</pre>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>