<template>
  <div class="container">
    <h1 class="mt-2">Mutaciones en vuex</h1>
    <hr>
    <p>Las mutaciones sirven para modificar los estados de vuex, esto nos ayudará a tener funciones de modificacion globales (evitando bugs) y un log de que componente lo está modificando</p>
    <counter/>
  </div>
</template>

<script>
  import counter from './components/counter.vue';
  import {store} from './store/store.js';
  export default {
    name: 'app',
    store,
    components:{counter},
    data () {
      return {
      }
    }
  }
</script>