<template>
  <div id="app">
    <h1>Component Guard</h1>
    <hr>
    <button :class="{'blocked':!auth}" @click="cambiar">Cambiar autenticacion</button>
    <router-link to="/">Home</router-link>
    <router-link to="/contacto">Contacto</router-link>
    <router-link to="/usuario/suso">Usuario suso</router-link>
    <router-link to="/usuario/mamel">Usuario mamel</router-link>
    <router-link to="/usuario/pepe"> usuario pepe</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
import {mapState,mapMutations} from 'vuex';
export default {
  computed:mapState(['auth']),
  methods:mapMutations(['cambiar'])
}
</script>
<style>
  .blocked{
    background: red;
  }
</style>
