<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="flex-fill">componentes/dinamyc-components en vue</h1> <button class="btn btn-primary col-2"
                @click="toggleConsole">Show console</button>
        </div>
        <hr>
        <div class="row">
            <p>
                Los componentes dinamicos sirven para intercambiar diferentes componentes en un mismo lugar sin necesidad de estar usando propiedades como <strong>v-if</strong> o <strong>v-show</strong>, con lo cual nos quedará un mejor código
            </p>
        </div>
        <div class="row">
            <div class="row col-6 btn-group">
                <button class="btn btn-primary" @click="selected= 'panel-1'">panel 1</button>
                <button class="btn btn-primary" @click="selected= 'panel-2'">panel 2</button>
                <button class="btn btn-primary" @click="selected= 'panel-3'">panel 3</button>
            </div>
            <component :is="selected" class="col-12 border border-primary"></component>
        </div>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>

    <template id="panel-1-template">
        <h4>soy el panel 1</h4>
    </template>
    <template id="panel-2-template">
        <h4>soy el panel 2</h4>
    </template>
    <template id="panel-3-template">
        <h4>soy el panel 3</h4>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>