<template>
  <div id="app">
      <h1>Mete fields en vue-router</h1>
      <hr>
      <button :class="{'blocked':!auth}" @click="cambiar">Cambiar autenticacion</button>
      <router-link to="/">Home</router-link>
      <router-link to="/confidencial">Informacion confidencial</router-link>
      <router-view></router-view>
  </div>
</template>

<script>
import {mapState,mapMutations} from 'vuex';
export default {
  computed:mapState(['auth']),
  methods:mapMutations(['cambiar'])
}
</script>

<style>
  .blocked{
    background: red;
  }
</style>
