<template>
    <div class="form-row">
        <input type="text" class="form-control col-5 m-1" placeholder="escriba el producto" v-model="name">
        <input type="number" class="form-control col-2 m-1" placeholder="escriba el producto" v-model="price">
        <button class="btn btn-primary m-1" @click="add">add</button>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex';
    export default {
        data(){
            return{
                name:null,
                price:0
            }
        },
        methods:{
            add(){
                this.$store.commit('addProduct',{
                    name:this.name,
                    price:parseFloat(this.price)
                    })
            }
        }
    }
</script>

