<template>
    <div>
        <h5>Carrito</h5>
        <span>{{totalCompra}}€</span>
            <producto v-for="(articulo,i) in carro" :key="`carro${i}`" :product="articulo"/>
    </div>
</template>

<script>
    import producto from './Producto.vue';
    import {mapState,mapGetters} from 'vuex';
    export default {
        components:{producto},
        computed:{
            ...mapState(['carro']),
            ...mapGetters(['totalCompra'])
        }
    }
</script>

