<template>
    <div class="row">
        <h5 class="col-12">Nuestro productos</h5>
        <div class="row col-6 justify-content-between" >
            <producto v-for="(producto,i) in productos" :product="producto" :key="i" class="col-5" :buy="true"/>
        </div>
    </div>
</template>

<script>
    import producto from './Producto.vue';
    import {mapState,mapMutations} from 'vuex';
    export default {
        components:{producto},
        computed:mapState(['productos'])
    }
</script>

