<template>
    <div class="p-2">
        <span>{{product.name}}</span>
        <button class="btn btn-primary btn-sm" @click="buyProduct(product)" v-if="buy">+</button>
        <button class="btn btn-primary btn-sm" @click="removeProduct(product)" v-else>-</button>
        <span>{{price}}€</span>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex';
    export default {
        props:['product','buy'],
        computed:{
            price(){
                return this.product.price.toFixed(2);
            }
        },
        methods:mapMutations(['removeProduct','buyProduct'])
    }
</script>