<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/vueResource.css">
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <h1 class="col-6">vue resource en vue</h1>
            <button class="btn btn-primary" @click="toggleConsole">Show console</button>
        </div>
        <div class="row user" v-for="user in users">
            <div class="row">
                <img :src="user.picture.thumbnail" :alt="user.name.first">
                <p class="col-6">{{user.name.first}}</p>
            </div>
        </div>
        <hr>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="js/vueResource.js"></script>
</body>
</html>