<template>
    <div :class="{'tachado':complete}">
        <input type="checkbox" v-model="complete" @change="changeState">
        <span>{{ task.title }}</span>
    </div>
</template>
<script>
    import {bus}  from '../main.js';
    export default {
        props:['task'],
        data(){
            return{
                complete:this.task.completo
            }
        },
        methods:{
            changeState(){
                bus.$emit('change',this.task.id);
            }
        }   
    }
</script>

<style scoped>
    .tachado{
        text-decoration: line-through;
    }
</style>

