<template>
    <section>
        <slot></slot>
        <div class="tareas">
            <tarea v-for="(task,i) in tareas" :key="`${llave}${i}`" :id="`${llave}${i}`" :task="task"></tarea>
        </div>
    </section>
</template>

<script>
    import tarea from './Tarea.vue';
    export default {
        components:{tarea},
        props:['tareas','llave']
    }
</script>

<style>

</style>

