<template>
    <section>
        <h1>Home</h1>
        <router-link :to="{name:'equipo', params:{id}}">Equipo de juan </router-link>
    </section>
</template>

<script>
export default {
    data(){
        return{
            id:'juan'
        }
    }
}
</script>
