<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="flex-fill">vue-router/intro en vue</h1> <button class="btn btn-primary col-2" @click="toggleConsole">Show
                console</button>
        </div>
        <hr>
        <router-link to="/">Portada</router-link>
        <router-link to="/contacto">Contacto</router-link>
        <router-view></router-view>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="js/main.js"></script>
</body>

</html>