<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/componentes1.css">
</head>
<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="col-6">componentes1 en vue</h1> <button class="btn btn-primary" @click="toggleConsole">Show
                console</button>
        </div>
        <hr>

        <section>
            <h4>Tareas dependientes del modelo</h4>
            <tasks-list-dependiente :tasks="tareasLocales"></tasks-list-dependiente>
        </section>
        <section>
            <h4>Tareas indenpendientes del modelo</h4>
            <task-list-independiente></task-list-independiente>
        </section>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/componentes1.js"></script>
</body>
</html>