<template>
    <section>
        <h3>Donde encontrarme</h3>
        <p>C:/ La Habichuela</p>
        <template v-if="newsletter">
            <form action="">
                <h5>Newsletter</h5>
                <label for="email">
                    <span>email</span>
                    <input type="email" name="email" id="email">
                </label>
            </form>
        </template>
    </section>
</template>

<script>
    export default {
        props:{
            newsletter:{
                type: Boolean
            }
        }   
    }
</script>

