<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/animate.css@3.5.1/animate.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="flex-fill">componentes/slots en vue</h1> <button class="btn btn-primary col-2" @click="toggleConsole">Show
                console</button>
        </div>
        <hr>
        <div class="form m-5">
            <label for="tipo">
                <span class="control-label">tipo</span>
                <select class="form-control" id="tipo" v-model="tipo">
                    <option value="info">info</option>
                    <option value="ok">ok</option>
                    <option value="warning">warning</option>
                    <option value="error">error</option>
                </select>
            </label>
            <label for="posicion">
                <span>posicion</span>
                <select class="form-control" id="posicion" v-model="posicion">
                    <option value="left-top">left-top</option>
                    <option value="right-top">right-top</option>
                    <option value="left-bottom">left-bottom</option>
                    <option value="right-bottom">right-bottom</option>
                </select>
            </label>
        </div>
        <div class="row">
            <message-alert :tipo="tipo" :posicion="posicion">
                <template v-if="tipo == 'ok'">
                        <template slot="header">todo correcto</template>
                        <template slot="body">todo correcto</template>
                        <template slot="footer">puedes continuar</template>
                </template>
                <template v-if="tipo == 'info'">
                    <template slot="header">Informacion</template>
                    <template slot="body">Esto es una propaganda</template>
                    <template slot="footer">gracias por tu tiempo</template>
                </template>
                <template v-if="tipo == 'warning'">
                        <template slot="header">Alerta</template>
                        <template slot="body">paga la coca</template>
                        <template slot="footer">primer aviso</template>
                </template>
                <template v-if="tipo == 'error'">
                        <template slot="header">Error!</template>
                        <template slot="body">Algo ha fallado</template>
                        <template slot="footer">contacta con el administrado</template>
                </template>
            </message-alert>
        </div>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>

    <template id="message-template">
        <transition name="animate.css" enter-active-class="animated bounceInLeft" leave-active-class="animated bounceOutRight">
            <div class="alert" :class="[type,position]" v-if="!isClose">
                <header class="alert-heading row justify-content-between">
                    <h5>
                        <slot name="header">Atención</slot>
                    </h5>
                    <span class="close" @click="close()">X</span>
                </header>
                <hr>
                <section>
                    <slot name="body">Cuerpo del mensage</slot>
                </section>
                <footer>
                    <p class="font-italic text-secondary">
                        <slot name="footer">Despedida</slot>
                    </p>
                </footer>
            </div>
        </transition>
    </template>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>