<template>
  <div class="container">
    <h1 class="mt-2">Mis listas de tareas</h1>
    <hr>
    <p>Los getters son como las computed properties de los componentes pero en el storage comun</p>
    <tareas/>
  </div>
</template>

<script>
  import {store} from './store/store.js';
  import tareas from './components/tareas.vue';
  export default {
    name: 'app',
    store,
    components:{tareas},
    data () {
      return {
      }
    }
  }
</script>