.alert{
    width: 25vw;
    position: absolute;
}
.alert > footer{
    font-size:.8rem;
}

.left-top{
    left:1%;
    top:1%;
}
.right-top{
    right:1%;
    top:1%;
}
.left-bottom{
    left:1%;
    bottom:1%;
}
.right-bottom{
    right:1%;
    bottom:1%;
}