<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-between">
            <h1 class="flex-fill">componentes/ejercicio en vue</h1> <button class="btn btn-primary col-2" @click="toggleConsole">Show
                console</button>
        </div>
        <hr>
        <buscador></buscador>
        <usuarios class="m-2"></usuarios>
        <pre class="consola" v-show="showConsole">{{ $data }}</pre>
    </div>

    <template id="usuarios-template">
        <div class="row">
            <div class="row justify-content-between col-12">
                <h5>Usuarios de la empresa</h5>
                <span v-if="filterUsers" :class="{'text-danger':filterUsers.length == 0}">{{ filterUsers.length }} usuarios encontrados</span>
            </div>
            <div class="row col-12">
                <usuario v-for="(user,i) in filterUsers" :key="i" :user="user" class="col-4"></usuario>
            </div>
            <div class="row justify-content-center col-12">
                <i class="fas fa-spinner fa-3x fa-pulse" v-if="users.length == 0"></i>
            </div>
            
        </div>
        

    </template>
    <template id="usuario-template">
        <div class="card">
            <img :src="user.foto" alt="foto de perfil" class="card-img-top mt-2 mr-1">
            <div class="card-body">
                <h5 class="card-title"> <span class="text-capitalize">{{ user.title }}</span> {{ user.nombre }}</h5>
                <p class="card-text">
                    <a :href="hrefEmail">{{ user.email }}</a> 
                </p>
            </div>
        </div>
    </template>
    <template id="buscador-template">
        <input type="search" class="form-control" placeholder="find a user" v-model="searchText" @keyup="find">
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>