<template>
<section>
  <tareas :tareas="tareasPendientes" llave="tp">
    <h3>tareas pendientes</h3>
  </tareas>
  <hr>
  <tareas :tareas="tareasFinalizadas" llave="tf">
    <h3>Tareas Finalizadas</h3>
  </tareas>
</section>
</template>

<script>
import tareas from "./components/Tareas.vue";
import {bus} from './main.js';
export default {
  name: "app",
  components: { tareas },
  data() {
    return {
      tareas: [
        { id:'1',title: "sacar el perro a pasear", completo: false },
        { id:'2',title: "fregar la azotea", completo: false },
        { id:'3',title: "aspirar el coche", completo: false },
        { id:'4',title: "hacer la compra", completo: false },
        { id:'5',title: "contratar jardinero", completo: false }
      ],
    };
  },
  computed: {
    tareasPendientes() {
      return this.tareas.filter(e => !e.completo);
    },
    tareasFinalizadas() {
      return this.tareas.filter(e => e.completo);
    }
  },
  mounted(){
    bus.$on('change',task=>{
      let aux = this.tareas.findIndex(e=>e.id == task);
      this.tareas[aux].completo = !this.tareas[aux].completo
    });
  }
};
</script>