<template>
  <persona></persona>
</template>

<script>
  import persona from './components/Persona'
  export default {
    name: 'app',
    components:{persona},
    data () {
      return {
      }
    }
  }
</script>

<style lang="scss">

</style>
