<template>
    <section>
        <h3>Soy el usuario {{$route.params.id}}</h3>
        <span>Esta es mi pagina principal</span>
        <div>
<!--             <router-link :to="`/equipo/${$route.params.id}/bio`">Biografía</router-link>
            <router-link :to="`/equipo/${$route.params.id}/fotos`">Fotos</router-link> -->
            <router-link :to="{name:'bio',params:{id:$route.params.id}}">Biografía</router-link>
            <router-link :to="{name:'fotos', params:{id:$route.params.id}}">Fotos</router-link>
        </div>
        <hr>
        <router-view/>
    </section>
</template>
