<template>
  <h1>Hola soy {{name}} y tengo {{age}} años</h1>
</template>

<script>
import {mapState} from 'vuex';
import {store} from './store/store.js';
export default {
  name: 'app',
  store,
  data () {
    return {
    }
  },
  //Forma de objeto (util para hacer transformaciones)
  /*computed:mapState({
    name: state=>state.name.toUpperCase(),
    age: state=> state.age.toFixed(2)
  }) */
  //Forma de array (mas rapido)
  computed:mapState(['name','age'])
}
</script>