<template>
    <div class="row">
        <h5 class="col-12">{{cantidad}}</h5>
        <button class="btn btn-primary m-1" @click="aumentar">+</button>
        <button class="btn btn-primary m-1" @click="disminuir">-</button>
    </div>
</template>

<script>
    import { mapState, mapMutations } from "vuex";
    export default {
        computed:mapState(["cantidad"]),
        methods:mapMutations(['aumentar','disminuir'])
    };
</script>

