<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div id="app" class="container">
        <h3>Gestor de usuarios</h3>
        <section class="">
            <label for="username">
                <span>Username</span>
                <input type="text" name="username" id="username" class="form-control" v-model="perfil.username">
            </label>
            <label for="password">
                <span>password</span>
                <input type="password" name="password" id="password" class="form-control" v-model="perfil.password">
            </label>
            <br>
            <button class="btn btn-primary" @click="saveUser">Añadir usuario</button>
        </section>
        <hr>
        <section>
            <h3>Chat</h3>
            <article>
                <p v-for="(message,key) in messages" :key="key">
                    <span class="text-info">{{message.user}}:</span>
                    <span contenteditable @blur="editarMensaje($event,key)" @keypress.enter="editarMensaje($event,key)">{{message.message}}</span>
                    <span class="close" @click="removeMessage(key)">X</span>
                </p>
            </article>
            <article>
                <input type="text" v-model.trim="chat.message" class="form-control col-12" @keyup.enter="sendMessage">
                <button class="btn btn-primary mt-2" @click="sendMessage">Enviar</button>
            </article>
        </section>
        <hr>
        <section>
            <h3>Ordenar resultados</h3>
            <button class="btn btn-primary" @click="orderBySecondKey('color')">ordenar por color</button>
            <button class="btn btn-primary" @click="orderBySecondKey('edad')">ordernar por edad</button>
            <button class="btn btn-primary" @click="orderByKey">ordernar por key</button>
            <button class="btn btn-primary" @click="orderByValue">ordernar por value</button>
            <article>
                <p v-for="(cat,key) in cats" :key="key">{{cat}}</p>
            </article>
        </section>
        <section>
            <h3>Filtrar resultados</h3>
                <div class="row">
                    <span class="align-content-center mr-2 col-2">Por el principio</span>
                    <input type="number" class="form-control col-2" v-model.number="filters.n">
                    <button class="btn btn-primary" @click="limitsFirsts">Filtrar</button>
                </div>
                <div class="row mt-4">
                    <span class="align-content-center mr-2 col-2">Por el final</span>
                    <input type="number" class="form-control col-2" v-model.number="filters.n">
                    <button class="btn btn-primary" @click="limitsLasts">Filtrar</button>
                </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAxkCa8nXnlzvW7GySQCZdplfYyHDKEi7E",
        authDomain: "testfirebase-97803.firebaseapp.com",
        databaseURL: "https://testfirebase-97803.firebaseio.com",
        projectId: "testfirebase-97803",
        storageBucket: "testfirebase-97803.appspot.com",
        messagingSenderId: "31592602765"
    };
    firebase.initializeApp(config);
    </script>
    <script src="js/main.js"></script>
</body>
</html>